name: autofix.ci
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:  # yamllint disable-line rule:truthy
  # We only do this on PRs to avoid the (admittedly unlikely) scenario that
  # we run, green, wait, merge, then the build on `main` could fail because conda
  # has updated during the "green" and then the "build on `main`" steps
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Rebuild dist
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: npm install
      - run: npm i -g @vercel/ncc
      - run: ncc build index.js
        env:
          NODE_OPTIONS: "--openssl-legacy-provider"
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27  # v1.3.2
